# Ignore node_modules
node_modules

# Ignore log files
logs

# Ignore local env file
.env

# Ignore OSX files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Ignore temporary files
*.swp
*.recovered

__pyache__/
.gitignore
*.sqlite3
*.egg-info
*.egg
*.spec
*.log
*.pot
*.mo
*.pyc
*.pyo
